{% extends 'base.html' %}

{% block title %}
Странца про нам
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Добавление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введина название статьи"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите кракое описание"></textarea><br>
         <textarea name="text" id="text" class="form-control" placeholder="Вваедите основной текст"></textarea><br>
        <input type="submit"  class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}